.user-profile{
	float: left;
	vertical-align: middle;
	padding: 5px 0 0 5px;
}

.chat-service{
	float: right;
	vertical-align: middle;
	padding: 5px 0 0 5px;
}


.server-img{
	background: url('../img/server.png');
	display: inline-block;
	width: 40px;
    height: 40px;
    cursor: pointer;
}

.user-profile-img{
	font-size: 40px;
	color: #434E3C;
	cursor: pointer;
}