/*header*/

.header {
	background: #434667;
}

.nav_service_left{
	float: left;
	width: 30%;
}

.nav_service_right{
	float: left;
	width: 70%;
}

.nav_service_item{
	display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}    

/*common*/
body{
	font-family: 'Open Sans';
    font-size: 17px;
    color: #ffffff;
    overflow-x: hidden;
}

html,body {
	height: 100%;
}

.section-inner {
	max-width: 1020px;
	margin: 0 auto;
}

a {
	font-family: 'Open Sans Semibold';	
    font-size: 17px;
}

.all {
	min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.content {
	padding-bottom: 100px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;	
}

.errorText i{
	color: #de3f18;
}

/*buttons states*/
.active{
	display: block;
}

.hidden{
	display: none;
}

.hide {
	visibility: hidden;
}

.visible{
	visibility: visible;
}

/*footer*/
.footer {
	background: #2770a0;
	clear: both;
}

.footer-copyright {
	height: 100px;
	margin: -100px auto;
	text-align: center;
	line-height: 100px;
}

.user_profile_img{
	background-image: url('../img/avatar_login.png');
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 25px;
}

.userProfile_link{
	display: block;
}

.companion_list-wrap{
	float: left;
	width: 30%;
}

.chat_wrap{
	float: right;
	width: 70%;
}

.chat_history{
	background-color: #373351;
	min-height: 400px;
	height: 100%;
	width: 100%;
}

.chat_area{
	height: 100%;
	min-height: 100px;
	width: 100%;
	resize: none;
}

.companion_list{
	width: 100%;
	height: 100%;
	min-height: 400px;
}

.content_inner{
	background-color: #4f4e69;
}

.answer_area_wrap{
	float: left;
	width: 90%;

}

.answer_btn_wrap{
	float: right;
    line-height: 86px;
    height: 76px;
    margin: 0 20px 0 0;
}

.answer_btn{
	background-image: url('../img/send-button.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.answer_area{
	width: 100%;
	height: 70px;
}