.message{
    display: inline-block;
    width: 100%;
    text-align: left;
   
}

.message-username{
    color: #434E3C;
    font-weight: 600;
}

.message-content{
    padding: 5px;
    display: inline-block;
}

.message.other .message-text{
    background-color: #cc6699;
}

.message.other .message-text:before{
     border-right: 10px solid #cc6699;
}

.message-text{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #893667;
    padding: 10px;
    color: #fff;
}

.message-text:before {
    content: " ";
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -11px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #893667;
}

.message-edit{
    cursor: pointer;
}

.message-delete{
    cursor: pointer;
}

.other{
    width: 100%;
    text-align: right;
}

.hidden{
    display: none;
}

.active-inline{
    display: inline-block;
}