.message{
    display: inline-block;
    width: 100%;
    text-align: left;
   
}

.message-username{
    color: #434E3C;
    font-weight: 600;
}

.message-content{
    padding: 5px;
    display: inline-block;
}

.message.other .message-text{
    background-color: #cc6699;
}

.message.other .message-text:before{
     border-right: 10px solid #cc6699;
}

.message-text{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #893667;
    padding: 10px;
    color: #fff;
    max-width: 70%;
}

.message-text:before {
    content: " ";
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -11px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #893667;
}

.message-edit{
    cursor: pointer;
}

.message-delete{
    cursor: pointer;
}

.other{
    width: 100%;
    text-align: right;
}

.hidden{
    display: none;
}

.active-inline{
    display: inline-block;
}

/*initial state*/
.message[data-state="initial"] input{
    display: none;
}

.message[data-state="initial"] .message-edit{
    display: inline-block;
}

.message[data-state="initial"] .message-text{
    display: inline-block;
}

.message[data-state="initial"] .message-edit-complete{
    display: none;
}

.message[data-state="initial"] .message-delete{
    display: inline-block;
}

/*initial Other state*/

.message[data-state="initial"].other .message-edit{
    display: none;
}

.message[data-state="initial"].other .message-delete{
    display: none;
}

/*edit state*/

.message[data-state="edit"] input{
    display: inline-block;
}

.message[data-state="edit"] .message-edit{
    display: none;
}

.message[data-state="edit"] .message-text{
    display: none;
}

.message[data-state="edit"] .message-edit-complete{
    display: inline-block;
}

.message[data-state="edit"] .message-delete{
    display: none;
}

/*deleted state*/

.message[data-state="deleted"] input{
    display: none;
}

.message[data-state="deleted"] .message-edit{
    display: none;
}

.message[data-state="deleted"] .message-text{
    display: inline-block;
}

.message[data-state="deleted"] .message-edit-complete{
    display: none;
}

.message[data-state="deleted"] .message-delete{
    display: none;
}